# Node
node_modules/
api/node_modules/

# Angular
moteur-morpho-ui/node_modules/
moteur-morpho-ui/dist/

# Build C++
build/

# Node modules
node_modules/

# Next.js build
.next/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
