/* content */
.content {
  max-width: 1100px;
  margin: 0 auto;
  padding: 16px 18px;
}

/* HOME: plein largeur */
.content--home {
  max-width: 1200px; /* ajuste: 1200/1300 */
  padding: 22px 22px;
}

/* responsive */
@media (max-width: 900px) {
  .content {
    padding: 14px;
  }
  .content--home {
    padding: 14px;
  }
}
