<app-page-shell title="المحرّك الصرفي" footerImageSrc="assets/illustrations/book.png">
  <div class="dash-container">
    <section class="dash-card">
      <div class="dash-card__top">
        <h2>القائمة الرئيسية</h2>
      </div>

      <section class="tiles">
        <a class="tile" routerLink="/roots">
          <div class="app-icon app-icon--teal">
            <mat-icon class="app-icon__glyph">account_tree</mat-icon>
          </div>
          <div class="tile__label">الجذور</div>
        </a>

        <a class="tile" routerLink="/schemes">
          <div class="app-icon app-icon--cyan">
            <mat-icon class="app-icon__glyph">grid_view</mat-icon>
          </div>
          <div class="tile__label">الأوزان</div>
        </a>

        <a class="tile" routerLink="/generate">
          <div class="app-icon app-icon--cyan">
            <mat-icon class="app-icon__glyph">auto_fix_high</mat-icon>
          </div>
          <div class="tile__label">التوليد</div>
        </a>

        <a class="tile" routerLink="/validate">
          <div class="app-icon app-icon--cyan">
            <mat-icon class="app-icon__glyph">search</mat-icon>
          </div>
          <div class="tile__label">التحقّق</div>
        </a>

        <a class="tile" routerLink="/game">
          <div class="app-icon app-icon--cyan">
            <mat-icon class="app-icon__glyph">sports_esports</mat-icon>
          </div>
          <div class="tile__label">اللعبة</div>
        </a>
      </section>
    </section>
  </div>
</app-page-shell>